{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
<div class="card" style="width: 16rem;">
  <div class="card-body">
    <a type="button" class="btn btn-dark" href= {% url 'spe_maths'%}>La Spéciatité mathématiques</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <a type="button" class="btn btn-dark" href= {% url 'spe_pc'%}>La Spéciatité physique chimie</a>
  </div>
</div>
</div>
</div>

<h1 class="text-center p-5 h1-30"> La spécialité Numérique et Sciences de l'informatique au lycée </h1>
<div class="container mb-10">
    <div class="row">
        <div class="col-lg-3 p-5">
            <div class="card" style="width: 8rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Pourquoi prendre la spé nsi en entrant au lycée ?</h5>
                  <p class="card-text">C'es fun :)</p>
                </div>
              </div>
            </div>  
         <div class="col">
            <h3 class="text-center"> Programme de la spécialité NSI en premiere générale (d'après le bulletin officiel)</h1>
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col width: 1.5rem; ">Thèmes</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Capacités attendues</th>
                        <th scope="col">Commentaire</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Histoire de l'informatique</th>
                        <td>Evénements clés de l’histoire de l’informatique</td>
                        <td>Situer dans le temps les principaux événements de l’histoire de l’informatique et leurs protagonistes.</td>
                        <td>Les repères historiques seront construits au fur et à mesure de la présentation des concepts et techniques.</td>
                      </tr>
                      <tr>
                        <th scope="row">Représentation des données : types et valeurs de base</th>
                        <td>Écriture d’un entier positif dans une base b ⩾ 2  </td>
                        <td>Passer de la représentation d’une base dans une autre.</td>
                        <td>Les bases 2, 10 et 16 sont  privilégiées.</td>
                        </tr>

                      </tr>
                      <th scope="row"></th>
                        <td> Représentation binaire d’un entier relatif </td>
                        <td>Évaluer le nombre de bits nécessaires à l’écriture en base 2 d’un entier, de la somme ou du produit de deux nombres entiers.Utiliser le complément à 2.</td>
                        <td>Il s’agit de décrire les tailles courantes des entiers (8, 16, 32 ou 64 bits).Il est possible d’évoquer la représentation des entiers de taille arbitraire de Python.</td>
                      </tr>
                    </tr>
                    <th scope="row"></th>
                      <td>Représentation approximative des nombres réels : notion de nombre flottant</td>
                      <td>Calculer sur quelques exemples la représentation de nombres réels : 0.1, 0.25 ou 1/3.</td>
                      <td>0.2 + 0.1 n’est pas égal à 0.3.Il faut éviter de tester l’égalité de deux flottants.Aucune connaissance précise de la norme IEEE-754 n’est exigible.</td>
                    </tr>
                  </tr>
                  <th scope="row"></th>
                    <td> Valeurs booléennes : 0, 1. Opérateurs booléens : and, or, not.
                      <br/>Expressions booléennes </td>
                    <td>Dresser la table d'une expression booléenne</td>
                    <td>Le ou exclusif (xor) est évoqué.<br/>Quelques applications directes comme l’addition binaire sont présentées.<br/> L’attention des élèves est attirée sur le caractère séquentiel de certains opérateurs booléens</td>
                  </tr>
                </tr>
                <th scope="row"></th>
                  <td>Représentation d’un texte en machine. <br/>
                    Exemples des encodages ASCII, ISO-8859-1, Unicode </td>
                  <td>Identifier l’intérêt des différents systèmes d’encodage. <br/> Convertir un fichier texte dans différents formats d’encodage.</td>
                  <td>Aucune connaissance précise des normes d’encodage n’est exigible.</td>
                </tr>

                      <tr>
                        <th scope="row">Représentation des données :types construits</th>
                        <td>p-uplets. <br/> p-uplets nommés</td>
                        <td>Écrire une fonction renvoyant un p-uplet de valeurs.</td>
                        <td></td>
                      </tr>

                      <tr>
                        <th scope="row"></th>
                        <td>Tableau indexé, tableau donné en compréhension</td>
                        <td>Lire et modifier les éléments d’un tableau grâce à leurs index. <br/> Construire un tableau par compréhension.<br/>Utiliser des tableaux de tableaux pour représenter des matrices : notation a [i] [j].<br/>Itérer sur les éléments d’un tableau.</td>
                        <td>Seuls les tableaux dont les éléments sont du même type sont présentés <br.>Aucune connaissance des tranches (slices) n’est exigible.<br/>L’aspect dynamique des tableaux de Python n’est pas évoqué. <br/>Python identifie listes et tableaux.<br/>Il n’est pas fait référence auxtableaux de la bibliothèque NumPy. </td>
                      </tr>

                      <tr>
                        <th scope="row"></th>
                        <td>Dictionnaires par clés et valeurs</td>
                        <td>Construire une entrée de dictionnaire. <br/>Itérer sur les éléments d’un dictionnaire.</td>
                        <td>Il est possible de présenter les données EXIF d’une image sous la forme d’un enregistrement.<br/>En Python, les p-uplets nommés sont implémentés par des dictionnaires. <br/>Utiliser les méthodes keys(), values () et items ().</td>
                      </tr>

                      <tr>
                        <th scope="row">Traitement de données en table</th>
                        <td>Indexation de tables</td>
                        <td>Importer une table depuis un fichier texte tabulé ou un fichier CSV.</td>
                        <td>Est utilisé un tableau doublement indexé ou un tableau de p-uplets qui partagent les mêmes descripteurs.</td>
                      </tr>

                      <tr>
                        <th scope="row"></th>
                        <td>Recherche dans une table</td>
                        <td>Rechercher les lignes d’une table vérifiant des critères exprimés en logique propositionnelle.</td>
                        <td>La recherche de doublons, lestests de cohérence d’une tablesont présentés</td>
                      </tr>

                      <tr>
                        <th scope="row"></th>
                        <td>Tri d'une table</td>
                        <td>Trier une table suivant une colonne</td>
                        <td>Une fonction de tri intégrée au système ou à une bibliothèque peut être utilisée</td>
                      </tr>

                      <tr>
                        <th scope="row"></th>
                        <td>Fusion de tables</td>
                        <td>Construire une nouvelle table en combinant les données de deux tables.</td>
                        <td>La notion de domaine de valeursest mise en évidence.</td>
                      </tr>

                      <tr>
                        <th scope="row">Intéraction entre l'hommme et la machine sur le Web</th>
                        <td> Modalités de l’interaction entre l’homme et la machine<br/>Événements</td>
                        <td>Identifier les différents composants graphiques permettant d’interagir avec une application Web. <br/>Identifier les événements que les fonctions associées aux différents composants graphiques sont capables de traiter.</td>
                        <td>Il s’agit d’examiner le code HTML d’une page comprenant des composants graphiques et de distinguer ce qui relève de la description des composants graphiques en HTML de leur comportement (réaction aux événements) programmé par exemple en JavaScript.</td>
                      </tr>

                      <tr>
                        <th scope="row"></th>
                        <td>Interaction avec l’utilisateur dans une page Web</td>
                        <td> Analyser et modifier les méthodes exécutées lors d’un clic sur un bouton d’une page Web.</td>
                        <td></td>
                      </tr>

                      <tr>
                        <th scope="row"></th>
                        <td>  Interaction client serveur.Requêtes HTTP, réponses du serveur</td>
                        <td> Analyser et modifier les méthodes exécutées lors d’un clic sur un bouton d’une page Web.</td>
                        <td></td>
                      </tr>

                      <tr>
                        <th scope="row"></th>
                        <td>Interaction avec l’utilisateur dans une page Web</td>
                        <td> Analyser et modifier les méthodes exécutées lors d’un clic sur un bouton d’une page Web.</td>
                        <td> Reconnaître quand et pourquoi la transmission est chiffrée.Il s’agit de faire le lien avec ce qui a été vu en classe de seconde et d’expliquer comment on peut passer des paramètres à un site grâce au protocole HTTP.</td>
                      </tr>
                      
                       <tr>
                      <th scope="row"></th>
                        <td> Formulaire d’une page Web</td>
                        <td> Analyser le fonctionnement d’un formulaire simple. <br/>Distinguer les transmissions de paramètres par les requêtes POST ou GET.</td>
                        <td> Discuter les deux types de requêtes selon le type des valeurs à transmettre et/ou leur confidentialité.</td>
                      </tr>

                      <tr>
                      <th scope="row">Architecture matérielle et système d'exploitation</th>
                        <td>Modèle d’architecture séquentielle(von Neumann)</td>
                        <td>Distinguer les rôles et les caractéristiques des différents constituants d’une machine.<br/>Dérouler l’exécution d’une séquence d’instructions simples du type langage machine.</td>
                        <td>La présentation se limite aux concepts généraux. <br/>On distingue les architectures monoprocesseur et les architectures multiprocesseur.Des activités débranchées sont proposées.<br/>Les circuits combinatoires réalisent des fonctions booléennes.</td>
                      </tr>

                      <tr>
                      <th scope="row"></th>
                        <td>Transmission de données dans un réseau<br/>Protocoles de communication<br/>Architecture d’un réseau</td>
                        <td>Mettre en évidence l’intérêt du découpage des données en paquets et de leur encapsulation.<br/>Dérouler le fonctionnement d’un protocole simple de récupération de perte de paquets (bit alterné).<br/>Simuler ou mettre en œuvre un réseau.</td>
                        <td>Le protocole peut être expliqué et simulé en mode débranché.<br/>Le lien est fait avec ce qui a été vu en classe de seconde sur le protocole TCP/IP.<br/>Le rôle des différents constituants du réseau local de l’établissement est présenté.</td>
                      </tr>

                      <tr>
                      <th scope="row"></th>
                        <td>Systèmes d’exploitation</td>
                        <td>Identifier les fonctions d’un système d’exploitation. <br/>Utiliser les commandes de base en ligne de commande.<br/>Gérer les droits et permissions d’accès aux fichiers.</td>
                      <td>Les différences entre systèmes d’exploitaion libres et propriétaires sont évoquées.<br/>Les élèves utilisent un système d’exploitation libre<br/>Il ne s’agit pas d’une étude théorique des systèmes d’exploitation.</td>
                      </tr>

                      <tr>
                      <th scope="row"></th>
                        <td>Périphériques d’entrée et de sortie<br/>Interface Homme-Machine (IHM)</td>
                        <td>Identifier le rôle des capteurs et actionneurs.<br/>Réaliser par programmation une IHM répondant à un cahier des charges donné.</td>
                        <td>Les activités peuvent être développées sur des objets connectés, des systèmes embarqués ou robots</td>
                      </tr>
                      
                      
                     <tr>
                      <th scope="row">Langage et programmation</th>
                        <td>Construction élémentaire</td>
                        <td>Mettre en évidence un corpus de construction élémentaires</td>
                        <td>Séquences, afectations, conditionnelles, boucles bonées; boucles non bornées, appels de fonctions</td>
                      </tr>
                      
                      <tr>
                      <th scope="row"></th>
                        <td>Diversité et unité des langages de programmation</td>
                        <td>Reppérer, dans un nouveau langage de programmation, les traits communs et les traits particliers à ce langage</td>
                        <td>Les manière dont même un programme simple s'écrit dans un différent langages sont comparés</td>
                      </tr>


                      <tr>
                      <th scope="row"></th>
                        <td>Spécification</td>
                        <td>Protoyper une fonction <br/> Décrire les préconditions sur les arguments <br/> Décriire des postonditions sur les résultats</td>
                        <td>Des assertions peuvent être utilisées pour garantir des préconditions ou des postconditions</td>
                      </tr>
                      
                      <tr>
                      <th scope="row"></th>
                        <td>Mise au point des programmes</td>
                        <td>Utiliser des jeux de test</td>
                        <td>L'importance de la qualité et du nombre de tests est mise en évidence <br/> Le succès d'un jeu de test ne garantit pas la correction d'un progamme</td>
                      </tr>
                      
                    <tr>
                      <th scope="row"></th>
                        <td>Utilisation de bibliothèques</td>
                        <td>Utiliser la documentation d'une bibliothèque</td>
                        <td>Aucune connaissance exhaustive d'une bibliothèque particulière n'est exigible</td>
                      </tr>

                      <tr>
                      <th scope="row">Algorithmique</th>
                        <td>Parcours séquentiel d'un tableau</td>
                        <td>Ecrire un algorithme de recherche d'une occurence sur des valeurs de type quelconque <br/> Ecrire un algorithme de recherche d'un extremum, de calcul d'une moyenne.</td>
                        <td>On montre que le coût est linéaire</td>
                      </tr>

                      <tr>
                      <th scope="row"></th>
                        <td>Tris ps insertion, par sélection</td>
                        <td>Ecrire un algorithme de tri <br/> Décrire un invariant de boucle qui prouve la correction des tris pas insertion, par sélection</td>
                        <td>La terminison de ces algrithmes est à justifier <br/> On montre que leur coût est quadratique dans le pire des cas</td>
                      </tr>

                      <tr>
                      <th scope="row"></th>
                        <td>Algorithme des k plus proches voisins</td>
                        <td>Ecrire un algorithme qui prédit la classe d'un élément en fonction de la classe majoritaire de ses k plus proches voisins</td>
                        <td>Il s'agit d'un exemple d'algorithe d'apprentissage</td>
                      </tr>

                      <tr>
                      <th scope="row"></th>
                        <td>Recherche dichotomique dans un tableau trié</td>
                        <td>Montrer la terminaison de la recherche dichotomique à l'aide d'u variant de boucle</td>
                        <td>Des assertions peuvent être utilisées. <br/> La preuve de la correction peut être présentée par le professeur</td>
                      </tr>

                      <tr>
                      <th scope="row"></th>
                        <td>Algorithmes gloutons</td>
                        <td>Résoudre un problème grâce àun algorithme glouton.</td>
                        <td>Exemple: problèmes du sav à dos ou du rendu de monnaie <br/> Les algorithmes gloutons constituent une méthode Algorithmique parmi d'autres qui seront vues en terminale</td>
                      </tr>


                    </tbody>
                  </table>     
                </div>
            </div>
        </div>
    </div>
</div>  

{% endblock %}