{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <a type="button" class="btn btn-dark" href= {% url 'spe_nsi'%}>La Spéciatité numérique et science de l'informatique</a>
  </div>
</div>
<div class="card" style="width: 16rem;">
  <div class="card-body">
    <a type="button" class="btn btn-dark" href=  {% url 'spe_maths'%}>La Spéciatité mathématiques</a>
  </div>
</div>
</div>
</div>

<h1 class="text-center p-5 h1-30"> La spécialité Physique Chimie au lycée </h1>
<h3 class="text-center">Les 5 grandes thématiques principales du programme en spécialité Physique Chimie, 1ère </h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Constitution de la matière</th>
        <th scope="col">Transformation de la matière</th>
        <th scope="col">Mouvement et interaction</th>
        <th scope="col">Energie : conversions et transferts</th>
        <th scope="col">Ondes et signaux</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Composition chimique d'un système</td>
        <td>De la structure à la polarité d'uen entité</td>
        <td>Modélisation d'interactions fondamentales</td>
        <td>Etude énergétique en électricité</td>
        <td>Ondes mécaniques</td>
      </tr>
      <tr>
        <td>Composition chimique des solutions</td>
        <td>Interpréter les propriétés d'une espèce chimique</td>
        <td>Description d'un fluide au repos</td>
        <td>Etude énergétique en mécanique</td>
        <td>Images et couleurs</td>
      </tr>
      <tr>
        <td>Evolution d'un système chimique</td>
        <td>Structures des entités organiques</td>
        <td>Mouvement d'un système</td>
        <td>Module ondulatoire et particulaire de la lumière</td> 
        <td></td>      
      </tr>
      <tr>
        <td>Réaction d'oxydoréduction</td>
        <td>Synthèse d'espèce chimiques organiques</td>
        <td></td>
        <td></td>
        <td></td>      
      </tr>
      <tr>
        <td>Détermination d'une quantité de matière par titrage</td>
        <td>Conversion d'énergie au cours d'une combustion</td>
        <td></td>
        <td></td>
        <td></td>      
      </tr>
    </tbody>
  </table>
</div>
   
    
{% endblock %}